.turn >div {
  height: 400px;
}

.turn {
  padding-top: 20px;
  padding-bottom: 20px;
  font-weight: bold;
}

.authorimage {
  max-height: 100%;
}

.answer {
  background-color: lightsteelblue;
  border-color: blue;
  margin-bottom: 20px;
  padding: 15px 30px 15px 15px;
  border-left: 5px solid cadetblue;
  cursor: pointer;
}

.answer:hover {
  background-color: cadetblue;
  transition: 0.6s linear;
}
